<div class="js-list list-wrapper">
    <div class="list js-list-content">
        <div class="list-header js-list-header clearfix">
            <textarea class="list-header-name" maxlength="512" readonly=""></textarea>
            <i class="material-icons btn-delete btn-delete-table">close</i>
        </div>
        <div class="list-cards clearfix js-list-cards">
            <div class="list-card"></div>
            <div class="card-composer hide">
                <div class="list-card js-composer">
                    <div class="list-card-details u-clearfix">
                        <textarea class="list-card-composer-textarea js-card-title" dir="auto" style="overflow: hidden; word-wrap: break-word; resize: none; height: 54px;"></textarea>
                    </div>
                </div>
                <div class="cc-controls clearfix">
                    <input class="confirm js-add-card" type="submit" value="Añadir">
                    <a class="icon-lg icon-close dark-hover js-cancel" href="#">×</a>
                </div>
            </div>
        </div>
        <a class="open-card-composer js-open-card-composer" href="#">Añadir una tarjeta...</a>
    </div>
</div>